<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!-- Container for your MVC "view" (Vue) - Vue only knows about what's inside-->
<div id="app">
    <h1>{{ message }}</h1>
    <input v-model="message">  <!-- Updating this form will also update the heading -->

    <pre>
        {{$data | json}}
    </pre>
</div>


<div id="error_message">
    <form>
        <!-- note that v-show and v-if are conditional statements, notice the not sign "!" -->
        <span class="error" v-show="!message">
            You must enter a message
        </span>

        <textarea v-model="message">

        </textarea>

        <!-- v-show and v-if are conditional statements, no not sign here "!" -->
        <button type="submit" v-show="message">
            Send Message
        </button>
    </form>

    <pre>
        {{$data | json}}
    </pre>
</div>

<div id="submitter">
    <!-- Could alternatively erase the controller method block
    and do v-on:submit.prevent="handleIt" -->
    <!-- OR erase the controller method block
    and do @submit.prevent="handleIt" -->
    <form action="done.html" @submit="handleIt">
        <button type="submit">
            Submit Me!
        </button>
    </form>
    <!-- @click and @submit are like event handlers -->
    <!-- An alternate way is to put a small function directly
    after the event handler like this:
    <button type="submit" @click="count += 1">
    -->
    <button type="button" @click="updateCount">
        Increment Counter:{{ count }}
    </button>

    <button type="button" @click="updateCount">
        Increment Counter:{{ count2 }}
    </button>
</div>

<div id="two_counters">
    <x-counter subject="Likes"></x-counter>
    <x-counter subject="Dislikes"></x-counter>
</div>

<!-- Notice the template goes outside of the Vue's scope with the div and id above-->
<template id="counter-template">
    <h1>{{ subject }}</h1>
    <button @click="counters += 1">{{counters}}</button>
</template>


<!-- Get full warnings in the developer console by not using the minified version of Vue-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.4/vue.js"></script>
<script>
    //Your data model, like the MVC "model"
    var data = {
        message:'Hello World'
    };

    // Your Vue-Model that binds to the view and binds to the data
    // so it's kind of like a MVC "controller"
    new Vue({
        el:'#app',
        data:data
    });
</script>
<script>
    var data = {
        message:''
    };

    new Vue({
        el:'#error_message'
    });
</script>
<script>
    var data = {
        count:0,
        count2:'none'
    };

    new Vue({
        el:'#submitter',
        data:data,
        methods:{
            handleIt:function(e){
                alert('Handled');
                e.preventDefault();
            },
            updateCount:function(){
                this.count += 1;
            }
        }
    });
</script>

<script>
    //Name the 'x-counter' tag you want to use as a component, such as <x-counter></x-counter>
    //Component names are supposed to have a dash in them.
    //Also, notice you have to initialize the counter by returning it as a function in the
    // below way with the "count" variable set to 0.
    // This is a global component and it can go within any Vue with any ID, as long as
    // this component is declared before that Vue.  Thus in this case, the below
    // component will only work for the Vue with an ID of #two_counters that is below it.
    Vue.component('x-counter', {
        template:'#counter-template',
        props:['subject'],
        data:function(){
            return {
                counters:0
            };
        }
    });

    new Vue({
        el:'#two_counters'
    });

    // If you don't want the component to be global, here is how to nest it within just one Vue
/*
    new Vue({
        el:'#two_counters',
        components: {
            counter: {
                template: '#counter-template',
                props: ['subject'],
                data: function () {
                    return {
                        counters: 0
                    };
                }
            }
        }
    });
*/

</script>
</body>
</html>